<html>
    <head>
        <title>Search</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="/styles.css">        
    </head>

    <body>
        
        <div class="container">
            <h1 class="text-center">Movie Database</h1>

            <% movies.forEach( function(movie) { %>
            <a class="movie-link" href=<%= "http://imdb.com/title/" + movie.imdbID %>>
            <div class="media movie-list-item">
                <div class="media-left">
                    <div class="poster-container">
                        <img class="media-object movie-poster" src=<%= movie.Poster %> />
                    </div>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <%= movie.Title %>
                        <span class="badge"><%= movie.imdbRating %></span>
                        <% for ( let i = 0; i < movie.Ratings.length; i++) { %>
                            <% if (movie.Ratings[i].Source === "Rotten Tomatoes") { %>
                                <span class="badge tomato-rating"><%= movie.Ratings[1].Value %></span>
                                <% break; %>
                            <% } %>
                        <% } %>
                    </h4>
                    <div>
                        <%= movie.Plot %>
                    </div>
                    <div class="released-date">
                        Released: <%= movie.Released %>
                    </div>
                </div>
            </div>
            </a>
            <% }); %>

        </div>
        
    </body>
</html>

